@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 0.5em 1.5em;
}

.nav__logo {
  width: 35%;
}

.nav__messages {
  position: relative;
}

.nav__icon {
  color: #fafafa;
  font-size: 22px;
}

.nav__notification {
  position: absolute;
  background-color: #ed4956;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 12px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 12px;
  font-weight: bold;
}

.stories {
  display: flex;
  justify-content: flex-start;
  padding: 1em 1.2em;
  overflow-x: auto;
  scrollbar-width: none;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories__item__wrapper {
  margin-right: 1.2em;
}

.stories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.stories__item__image__wrapper {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories__item__image__wrapper--new {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.stories__item__image {
  width: 60px;
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  border: 1px solid #000;
  background-color: #000;
}

.stories__item__name {
  color: #fafafa;
  font-size: 14px;
  margin-top: 0.5em;
}
