@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.nav {
  background-color: #1a1a1a;
}

.nav__container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.2em;
}

.nav__logo {
	max-width: 180px;
  width: 35%;
}

.nav__messages {
	position: relative;
}

.nav__icon {
  color: #fafafa;
  font-size: 22px;
}

.nav__notification {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 20px;
  height: 20px;
  background-color: #ed4956;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 12px;
  font-weight: bold;
}

.stories {
  display: flex;
  justify-content: flex-start;
  padding: 1em 1.2em;
  overflow-x: auto;
  scrollbar-width: none;
}

.stories::-webkit-scrollbar {
  display: none;
}

.stories__item__wrapper {
  margin-right: 1.2em;
}

.stories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.stories__item__image__wrapper {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories__item__image__wrapper--new {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.stories__item__image {
  width: 60px;
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  border: 1px solid #000;
  background-color: #000;
}

.stories__item__name {
  color: #fafafa;
  font-size: 14px;
  margin-top: 0.5em;
}

.posts {
	padding: 1em 1.2em;
}

.posts__post {
	background-color: #1a1a1a;
	border-radius: 10px;
	border: 2px solid rgba(255,255,255,.05);
	margin-bottom: 2em;
	color: #fafafa;
}

.posts__post__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .2em 1.2em;
}

.posts__post__user__details {
	height: 60px;
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.posts__post__user__image {
	height: 90%;
	border-radius: 50%;
	margin-right: .5em;
	border: 2px solid rgba(255,255,255,.2);
}

.posts__post__menu {
	font-size: 20px;
	display: block;
}

.posts__post__image {
	width: 100%;
}

.posts__post__buttons {
	display: flex;
	justify-content: space-between;
	padding: .4em 1.2em;
}

.posts__post__buttons__left {
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.posts__post__button {
	font-size: 20px;
}

.posts__post__button--liked {
	color: #ed4956;
}

.posts__post__likes {
	padding: .4em 1.2em;
	font-size: 14px;
}

.posts__post__description {
	padding: .4em 1.2em;
	font-size: 14px;
}

.posts__post__timestamp {
	padding: .6em 1.7em;
	font-size: 10px;
}

/* General rules */

.hashtag {
	color: #e0f1ff;
}